<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxw.dao.ScheduleJobMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wxw.domain.ScheduleJob">
        <id column="job_id" property="jobId" />
        <result column="bean_name" property="beanName" />
        <result column="params" property="params" />
        <result column="cron_expression" property="cronExpression" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        jobId, beanName, params, cronExpression, status, remark, createTime
    </sql>
    <!--批量更新任务状态-->
    <update id="updateBatch">
        update schedule_job set status = #{status} where job_id in
        <foreach item="jobId" collection="list"  open="(" separator="," close=")">
            #{jobId}
        </foreach>
    </update>

</mapper>
